{% include base_path %}

<!-- start custom head snippets -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">

<link rel="icon" href="{{ base_path }}/images/favicon.ico">
<meta name="theme-color" content="#faf9f5">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- end custom head snippets -->
